<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head.html"></head>
<body>

	<header th:insert="includes/header.html"></header>

	<!-- Start Container -->
	<div class="container">

		<div class="row mt-5">
			<div class="col">
				<span>Lists</span> <a th:href="@{/source/add}"
					class="btn btn-sm btn-success float-right">Add</a>
			</div>
		</div>

		<div class="row justify-content-md-center mt-2">

			<table class="table table-striped table-condensed">
				<thead>
					<th>ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>Url</th>
					<th>Active</th>
					<th></th>
				</thead>
				<tr th:each="source : ${sources}">
					<td th:text="${source.id}"></td>
					<td th:text="${source.title}"></td>
					<td th:text="${source.description}"></td>
					<td th:text="${source.url}"></td>
					<td th:text="${source.active}"></td>
					<td><a th:href="@{/source/{id}/edit(id=${source.id})}"
						class="btn btn-sm btn-warning">Edit</a> <a
						th:href="@{/source/{id}/delete(id=${source.id})}"
						class="btn btn-sm btn-danger">Delete</a></td>
				</tr>
			</table>

		</div>

	</div>
	<!-- End Container -->

</body>
</html>