<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head.html"></head>
<body>

	<header th:insert="includes/header.html"></header>

	<!-- Start Container -->
	<div class="container">

		<div class="row justify-content-md-center mt-4 pt-4">
			<div class="col-4">

				<form class="form-signin" method="POST" action="#"
					th:action="@{/source/generator/save}"
					th:object="${sourceGenerator}">
					<h2 class="form-signin-heading">Source Management</h2>

					<p>
						<label for="type" class="sr-only">Type</label> <input type="text"
							th:field="*{type}"
							onkeyup="this.value = this.value.toUpperCase();"
							class="form-control" placeholder="Type" required autofocus>
						<label th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
							class="alert alert-danger">Type Error</label>
					</p>

					<p>
						<label for="type" class="sr-only">Url</label> <input type="text"
							th:field="*{url}" class="form-control" placeholder="Url" required>
						<label th:if="${#fields.hasErrors('url')}" th:errors="*{url}"
							class="alert alert-danger">Url Error</label>
					</p>

					<p>
						<label for="linkRegex" class="sr-only">Link Regex</label> <input
							type="text" th:field="*{linkRegex}" class="form-control"
							placeholder="Link Regex" required> <label
							th:if="${#fields.hasErrors('linkRegex')}" th:errors="*{linkRegex}"
							class="alert alert-danger">Link Regex Error</label>
					</p>
					
					<p>
						<label for="contentRegex" class="sr-only">Content Regex</label> <input
							type="text" th:field="*{ContentRegex}" class="form-control"
							placeholder="Content Regex" required> <label
							th:if="${#fields.hasErrors('contentRegex')}" th:errors="*{contentRegex}"
							class="alert alert-danger">Content Regex Error</label>
					</p>
					
					<p>
						<label for="imageRegex" class="sr-only">Image Regex</label> <input
							type="text" th:field="*{imageRegex}" class="form-control"
							placeholder="Image Regex" required> <label
							th:if="${#fields.hasErrors('imageRegex')}" th:errors="*{imageRegex}"
							class="alert alert-danger">Image Regex Error</label>
					</p>

					<input type="hidden" th:field="*{id}">
					<button class="btn btn-sm btn-success btn-block" type="submit">Save</button>
				</form>

			</div>
		</div>

		<div class="row justify-content-md-center mt-2">
			<div class="col-4">
				<a th:href="@{/source/{id}/edit(id=${sourceGenerator.id})}"
					class="btn btn-sm btn-default btn-block">Back</a>
			</div>
		</div>

	</div>
	<!-- End Container -->

</body>
</html>