<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/head.html"></head>
<body>

	<header th:insert="includes/header.html"></header>

	<!-- Start Container -->
	<div class="container">

		<div class="row mt-3">
			<div class="col">
				<div class="row">
					<div class="col">
						<a th:href="@{/}" class="btn btn-outline-secondary">Назад</a>
					</div>
				</div>
				<div class="row mt-3">

					<div id="carouselExampleIndicators" class="carousel slide w-100"
						data-ride="carousel">
						<ol class="carousel-indicators">
							<li th:each="image, itr : ${crawled.crawledImages}"
								data-target="#carouselExampleIndicators"
								th:attr="data-slide-to=${itr.index}"
								th:classappend="${itr.first}?active"></li>
						</ol>
						<div class="carousel-inner">
							<div th:each="image, itr : ${crawled.crawledImages}"
								class="carousel-item" th:classappend="${itr.first}?active">
								<img
									th:src="@{'/images/' + ${crawled.id} + '/' + ${image.filename} + '.' + ${image.ext}}"
									class="d-block w-100" alt="...">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators"
							role="button" data-slide="prev"> <span
							class="carousel-control-prev-icon" aria-hidden="true"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="carousel-control-next"
							href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>

				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col">
						<h5 th:text="${crawled.crawledInfo.title}"></h5>
					</div>
					<div class="col-1">
						<a th:href="${crawled.url}" target="_blank"
							class="btn btn-outline-primary">Open</a>
					</div>
				</div>

				<hr>
				<p th:text="${crawled.crawledInfo.region}"></p>
				<hr>
				<div class="row">
					<div class="col">
						<span>Цена: </span> <b th:text="${crawled.crawledInfo.price}"></b><span
							th:text="${crawled.crawledInfo.currency}"></span>
					</div>
					<div class="col">
						<span>Цена за кв.м : </span> <b
							th:text="${crawled.crawledInfo.pricePerSquare}"></b><span
							th:text="${crawled.crawledInfo.currency}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<span>Площ: </span> <b th:text="${crawled.crawledInfo.size}"></b>
						кв.м
					</div>
					<div class="col">
						<span>Тип: </span> <b th:if="${crawled.crawledInfo.type}!=null"
							th:text="${crawled.crawledInfo.type.title}"></b>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<span>Строителство: </span> <b
							th:if="${crawled.crawledInfo.buildType}!=null"
							th:text="${crawled.crawledInfo.buildType.title}"></b>
					</div>
					<div class="col">
						<span>Етаж: </span> <b th:if="${crawled.crawledInfo.floor}!=null"
							th:text="${crawled.crawledInfo.floor}"></b>
					</div>
				</div>
				<hr>
				<p th:text="${crawled.crawledInfo.description}"></p>
				<hr>
				<p style="font-weight: bold;"
					th:text="${crawled.crawledInfo.keywords}"></p>
				<hr>

				<p>
					<small><b>Created at: </b></small> <small
						th:text="${crawled.createdAt}"></small> <small><b>Updated
							at: </b></small> <small th:text="${crawled.updatedAt}"></small>
				</p>
			</div>
		</div>

	</div>
	<!-- End Container -->

</body>
</html>